/*Listbox configuration*/
.power-listbox {
	background: transparent;
}

/*Window configuration*/
.power-menu {
	background: rgba(20,18,22,0.85);
	border: 1px solid #8f56e1;
	border-radius: 5px;
	font-family: RobotoMono Nerd Font Mono;
	font-size: 13px;
	font-weight: 500;
}

/*Row configuration*/
.power-row {
	background: transparent;
	color: #d8cab8;
}

/*Selected row configuration*/
.power-row:selected {
	background-color: #8f56e1;
	color: #141216;
}

/*Disabling focus outline*/
*:focus,
*:focus-visible {
	outline: none;
	box-shadow: none;
}
